
@{
    ViewBag.PageName = "Category Actions";
    Layout = "~/Views/Admin/Layout.cshtml";
}

<div ng-controller="CategoryCtrl">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <button type="button" class="btn btn-block btn-outline-success" data-toggle="modal" data-target="#NewCategoryPopup">
                    New category
                </button>
            </h3>
            <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" ng-model="txtSearch" name="table_search" class="form-control float-right" placeholder="Search">
                </div>
            </div>
        </div>

        <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Icon</th>
                        <th>ParentId</th>
                        <th>Tags</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="category in CategoryList | orderBy:Name | filter : txtSearch">
                        <td>{{category.Name}}</td>
                        <td>{{category.Icon}}</td>
                        <td>{{category.ParentId}}</td>
                        <td>{{category.Tags}}</td>
                        <td>{{category.Description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="modal fade show" ng-show="ShowPopup" id="NewCategoryPopup" style="padding-right: 17px;" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">New Category</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <input class="form-control" ng-model="CategoryModel.Name" type="text" placeholder="Name" />
                            </div>

                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <input class="form-control" ng-model="CategoryModel.Icon" type="text" placeholder="Icon" />
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <input class="form-control" ng-model="CategoryModel.ParentId" type="number" placeholder="ParentId" />
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <input class="form-control" ng-model="CategoryModel.Tags" type="text" placeholder="Tags" />
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <input class="form-control" ng-model="CategoryModel.Description" type="text" placeholder="Description" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="SaveChange()">Save changes</button>
                </div>
            </div>

        </div>

    </div>
</div>

@section AngularCtrl
{
    <script src="/Scripts/MyAngular/Admin/CategoryCtrl.js"></script>
}
